<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #EFC4D0;
      }
    </style>
  </head>

  <body>
    <div class="conversion">
      <h1>Convert <%=@original_currency%></h1>
      <a href="/">Back</a>
      <%@keys_array.each do |key|%>
        <a href="/<%=@original_currency%>/<%=key%>">Convert 1 <%=@original_currency%> to <%=key%></a>
      <%end%>
    </div>
  </body>
</html>
